<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ihavecar.payment.mapper.PayNotifyMapper" >
  <resultMap id="BaseResultMap" type="com.ihavecar.payment.entity.PayNotify" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="out_order_no" property="outOrderNo" jdbcType="VARCHAR" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="last_notify_time" property="lastNotifyTime" jdbcType="INTEGER" />
    <result column="curr_notify_count" property="currNotifyCount" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ihavecar.payment.entity.PayNotifyWithBLOBs" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="sign_content" property="signContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, out_order_no, transaction_id, type, status, notify_url, last_notify_time, curr_notify_count, 
    add_time, update_time, del_flag
  </sql>
  <sql id="Blob_Column_List" >
    content, sign_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pay_notify
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pay_notify
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ihavecar.payment.entity.PayNotifyWithBLOBs" >
    insert into pay_notify (id, out_order_no, transaction_id, 
      type, status, notify_url, 
      last_notify_time, curr_notify_count, add_time, 
      update_time, del_flag, content, 
      sign_content)
    values (#{id,jdbcType=BIGINT}, #{outOrderNo,jdbcType=VARCHAR}, #{transactionId,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{notifyUrl,jdbcType=VARCHAR}, 
      #{lastNotifyTime,jdbcType=INTEGER}, #{currNotifyCount,jdbcType=INTEGER}, #{addTime,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{content,jdbcType=LONGVARCHAR}, 
      #{signContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ihavecar.payment.entity.PayNotifyWithBLOBs" >
    insert into pay_notify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="outOrderNo != null" >
        out_order_no,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="notifyUrl != null" >
        notify_url,
      </if>
      <if test="lastNotifyTime != null" >
        last_notify_time,
      </if>
      <if test="currNotifyCount != null" >
        curr_notify_count,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="signContent != null" >
        sign_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="outOrderNo != null" >
        #{outOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="notifyUrl != null" >
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="lastNotifyTime != null" >
        #{lastNotifyTime,jdbcType=INTEGER},
      </if>
      <if test="currNotifyCount != null" >
        #{currNotifyCount,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="signContent != null" >
        #{signContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ihavecar.payment.entity.PayNotifyWithBLOBs" >
    update pay_notify
    <set >
      <if test="outOrderNo != null" >
        out_order_no = #{outOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="notifyUrl != null" >
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="lastNotifyTime != null" >
        last_notify_time = #{lastNotifyTime,jdbcType=INTEGER},
      </if>
      <if test="currNotifyCount != null" >
        curr_notify_count = #{currNotifyCount,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="signContent != null" >
        sign_content = #{signContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ihavecar.payment.entity.PayNotifyWithBLOBs" >
    update pay_notify
    set out_order_no = #{outOrderNo,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      notify_url = #{notifyUrl,jdbcType=VARCHAR},
      last_notify_time = #{lastNotifyTime,jdbcType=INTEGER},
      curr_notify_count = #{currNotifyCount,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      sign_content = #{signContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ihavecar.payment.entity.PayNotify" >
    update pay_notify
    set out_order_no = #{outOrderNo,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      notify_url = #{notifyUrl,jdbcType=VARCHAR},
      last_notify_time = #{lastNotifyTime,jdbcType=INTEGER},
      curr_notify_count = #{currNotifyCount,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>